body {
    background-color: #F2F2F2;
}

.blog {
    margin: 30px 0;
    text-align: center;
}

.blog__heading {
    color: #0B173B;
    font-family: 'Tahoma';
    font-size: 35px;
    text-align: center;
}

.blog-post {
    margin: 25px 0;
}

.blog-post__author,
.blog-post__text {
    font-family: 'Tahoma';
}

.blog-post__author {
    color: #086A87;
    font-size: 12px;
    margin: 0;
}

.blog-post__text {
    color: #0B173B;
    font-size: 17px;
    margin: 0 0 10px;
}

.sign-up {
    height: 25px;
    margin: 20px 0 5px calc(50% - (200px / 2));
    width: 200px;
}

.header {
    display: block;
    text-align: right;
}

.header-button {
    background-color: inherit;
    border: 1px solid #0B173B;
    font-size: 12px;
    height: 20px;
    margin: 0 20px 20px;
    text-align: center;
    width: auto;
}

.header-button:hover {
    border-color: #086A87;
    color: #086A87;
    cursor: pointer;
}

.user-name {
    color: #086A87;
    font-family: 'Tahoma';
    font-size: 12px;
}

.error {
    color: #610B0B;
    font-family: 'Tahoma';
    font-size: 10px;
    font-style: italic;
    margin: 10px;
    text-align: center;
}
